nav{
    display: flex;
    justify-content: space-between;
}

nav > ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

.shop-item{
    display: flex;
}

.shop-item > div{
    align-self: flex-end;
}

.store-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;
}

.cart-with-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart{
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    margin-top: 10px;
}

.cart > div > button{
    margin-left: 10px;
}